<div class="text-center">

  <% if @basket.basketItems.count == 0 %>
    <h1 class="basket-title">Your basket is empty</h1>

  <% else %>
      <% basketItems = @basket.basketItems.sort_by { |item| item.created_at } %>
      <% basketItems.each do |item| %>
        <%= render partial: "basket_item", locals: {item: item} %>
      <% end %>
      <div class="d-flex justify-content-center">
        <p class="total-price-indicator">Total Price: <%= @basket.price_cents.to_f / 100 %>€</p>
      </div>
  <% end %>

  <%# unless @basket.basketItems.count == 0 %>

<!--     <form id="myform" class="button" action="/checkout" method="post">
      <button type="button"
        data-vp-publickey="<%#= ENV['VIVA_PUBLISHABLE_KEY'] %>"
        data-vp-baseurl="https://demo.vivapayments.com"
        data-vp-lang="en"
        data-vp-disablewallet
        data-vp-amount="<%#= @basket.price_cents %>"
        data-vp-background-color="#E1A509"
        data-vp-hover-background-color="#777777"
        data-vp-text="Purchase"
        data-vp-description="Your Order">
      </button>
    </form> -->
  <%# end %>

</div>


<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://demo.vivapayments.com/web/checkout/js"></script>
