.contact-title {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: $yellow;
  font-style: italic;
  padding: 1rem;
  margin: 2rem 0;
}

.hidden{
  display: none;
}

.label{
  padding: 0.1rem 1.6rem;
  border-radius: 6px;
  font-weight: bold;
  margin-bottom: 1.2rem;
  font-style: italic;
  text-decoration: underline;
}

.input{
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: auto;
  text-align: center;
}

.contact_message {
  height: 5rem;
}

@media (min-width: 992px) {
  .input {
    width: 80%;
  }
}
