.goodie-cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: fit-content;
  margin: auto;

  a{
    color: $body-color;
  }
}

.goodie-card{
  text-align: center;
  background-color: $light-blue;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  justify-self: center;

  h3{
    margin: 1rem 0;
    font-weight: bold;
  }

  p{
    font-style: italic;
    margin-bottom: 0;
  }
}

@media (min-width: 100px) and (max-width: 767px) {
  .goodie-cards{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .goodie-cards{
    grid-template-columns: repeat(2, 1fr);
  }
}
