// Import page-specific CSS files here.
@import "home";
@import "bio";
@import "contact";
@import "blogs";
@import "fanarts";
@import "goodies";
@import "events";
@import "books";
@import "basket";
@import "devise_pages";

body {
    margin-bottom: 130px;
}
