<% provide(:title, 'FanArt') %>

<div class="fanart-cards">
  <% @fanarts.each_with_index do |fanart, index| %>
    <div
      class="fanart-card"
      data-aos="<%= index % 2 == 0 ? 'fade-left' : 'fade-right' %>"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out"
      data-aos-offset="300"
    >
      <%= cl_image_tag fanart.photo.key %>
      <div class="fanart-author">
        <p><%= fanart.author%></p>
      </div>
    </div>
  <% end %>
</div>
