<% provide(:title, "Home") %>
<% provide(:description, "The illustrated rhyming tale of an adventurous boy travelling to the underwater Kingdom of Canalia where dumped bicycles are recycled into energy.") %>
<div class="home-page-aligner">
  <%= image_tag("boyandtoad.jpg") %>
  <% if !@book.nil? %>
    <%= link_to "About the Book", book_path(@book), class: "button" %>
  <% end %>
</div>

