<% provide(:title, "Home") %>
<% provide(:description, "Welcome to the Wonderful Kingdom of Canalia") %>
<div class="home-page-aligner">
  <%= image_tag("boyandtoad.jpg") %>
  <% if !@book.nil? %>
    <%= link_to "About the Book", book_path(@book), class: "button" %>
  <% end %>
</div>

