<div class="text-center">
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <% @homephotos.each do |homephoto| %>
            <div class="swiper-slide">
                <%= cl_image_tag homephoto.photo.key, :height=>450, :gravity=>'auto', :crop=>'fill' %>
            </div>
          <% end %>
        </div>
    </div>
    <br>
    <% if !@book.nil? %>
      <%= link_to "Order Signed Books", book_path(@book), class: "button" %>
    <% end %>
</div>

