.banner {
  // background-size: cover;
  // background-position: bottom right;
  // padding: 80px 0;
  // background-position-y: 300px;
  // transform: rotate(180deg);
  position: sticky;
  top: 0;
  z-index: 2;

  img{
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: 0 78%;
    transform: rotate(180deg);
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .banner{
    margin-bottom: 1rem;

    img{
      vertical-align: middle;
      border-style: none;
      width: 100%;
      height: 90px;
      object-fit: cover;
      object-position: 0 78%;
      transform: rotate(180deg);
    }
  }
}
