.footer {
  position: sticky;
  height: 90px;
  bottom: 0;
  display: flex;
  background-image: asset-url("banner.gif");
  background-position: top;
  box-shadow: 0px -10px 25px rgba(170, 100, 40, 20%);
  filter: grayscale(0.8);
  margin: 0;
  box-shadow: 0px -10px 25px rgba(170, 100, 40, 0.2);
  margin: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
}

.social-media {
  font-size: 2.2rem;
  margin: -5px 2rem;
  line-height: 15px;
}
