.footer{
  position: fixed;
  height: 100px;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(219, 219, 219);
  margin: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.social-media{
  font-size: 2rem;
  margin: 0 2rem;
}

@media (min-width: 100px) and (max-width: 575px) {
  .footer{
    height: 90px;

    .social-media{
      font-size: 2rem;
      margin: -2px 2rem;
    }
  }
}
