// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "menu";
@import "button";
@import "page-intro";
@import "footer";
@import "books";
@import "modal";
@import "swiper";
@import "cart";

body {
    margin-bottom: 130px;
    background-color: $light-bisque;
}

p {
  font-size: 1.2rem;
}
