.icons-setter{
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  position: absolute;

}

.home-button{
  color: $yellow;
  background-color: rgba(254, 254, 252, 1);
  box-shadow: 1px 2px 2.3px;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.9rem;
  width: 3.9rem;
  margin: 12px;
  transition: color .5s;

  &:hover {
    text-decoration: none;
    color: rgb(112, 111, 129);
    font-style: bold;
  }
}


@media (min-width: 992px) {
  .icons-setter{
    width: 100vw;
    display: flex;
    height: 120px;
  }
}
// .home{
//   margin: 1rem;
//   text-align: center;
//   color: $yellow;
//   font-size: 2rem;
//   padding: 0.1rem 1rem;
//   font-weight: bold;

//   &:hover {
//     text-decoration: none;
//     color: rgb(177, 160, 1);
//   }
// }

.menu{
  margin: 1rem 0;
  text-align: center;
}

.menu > * {
  color: $yellow;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.1rem 1rem;
  border-right: $yellow solid 2px;
  font-size: 1rem;

  &:hover {
    text-decoration: none;
    color: rgb(177, 160, 1);
  }
}

.menu > *:last-child {
  border: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 767px) {
  .menu {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .menu {
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .menu {
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .menu > * {
  font-size: 1.5rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .menu {
  }
}
