.smodal{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content{
  width: 95%;
  height: 95%;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: sticky;

  a{
    margin: 0.5rem;
    color: rgba(163, 140, 18, 1);
    font-size: 2rem;
    padding: 0.1rem 1rem;
  }
}

.close{
  position: absolute;
  top: 6px;
  right: 14px;
  font-size: 32px;
  transform: rotate(45deg);
  cursor: pointer;
}

#dropdown{
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  margin: 0.3rem;
  z-index: 2;
}

.links{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 85%;
  justify-content: space-around;
}

@media (min-width: 768px) {
  #dropdown {
    display: none;
  }
}
